@page
@model RazorStar.Pages.BindProcessDetailPageModel
@{
}
<div>
    <h2>Process Detail Page</h2>
    <div>
        <h3>Process Name: @Model.MyProcess!.ProcessName</h3>
        <p>Process ID: @Model.MyProcess!.Id</p>
        <p>Start Time: @Model.MyProcess!.StartTime</p>
        <p>Total Processor Time: @Model.MyProcess!.TotalProcessorTime</p>
    </div>
</div>
