@page
@model RazorStar.Pages.ProcessPageModel
@{
    Process[] procs = (Process[])ViewData["Proc"]!;
}
<div>
    <h2>Process Page</h2>
    @foreach(var item in procs)
    {
        <div>
            <a asp-page="/ProcessDetailPage" asp-route-id="@item.Id">@item.ProcessName</a>
        </div>
    }
</div>